.travel-tickets-list > li {
  padding: 0 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #f5f5f5;
}

.single-travel-listitem {
  cursor: pointer;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #f5f5f5; */
}

.basicDetails__label {
  width: 9rem;
}

.basicDetails__label + span {
  font-weight: 600;
  font-size: 0.875rem;
}

.e ::-webkit-scrollbar {
  width: 10px;
}

.service-request-admin-form-button span {
  font-weight: 400;
}

.ticket-list-item:hover {
  background: #f3f2f1;
}
